* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 136, 102, 0.67);
}

.header {
  background-color: #111;
  text-align: center;
  color: white;
  padding: 20px 0;
  font-weight: 500;
}

.btn {
  cursor: pointer;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: purple;
}

.btn:hover {
  background-color: #fffdd0;
  color: purple;
  padding: 11px 31px;
}

.btns {
  cursor: pointer;
  color: black;
  padding: 10px 10px;
  max-height: 35px;
  border-radius: 5px;
  background-color: #fffdd0;
  color: purple;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btns:hover {
  background-color: purple;
  color: #fffdd0;
}
.btncontainer {
  display: flex;
  justify-content: space-around;
}

.listContainer {
  width: 1340px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.todoContainer {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  font-size: 20px;
  font-weight: 500;
}

.List {
  margin-top: 20px;
}

.display-flex {
  display: flex;
  justify-content: space-around;
  width: 1340px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 20px 0;
}

.bg {
  background-color: #111;
  color: white;
  padding: 15px 0;
  border-radius: 3px;
}

.item1 {
  flex: 0.5;
  cursor: pointer;
  width: 20px;
  height: 20px;
  box-shadow: none;
}
.item2 {
  flex: 2;
  flex-shrink: 0.5;
  font-weight: 500;
}
.item3 {
  flex: 2;
  flex-shrink: 0.5;
  font-weight: 500;
}
.item4 {
  flex: 2;
  flex-shrink: 0.5;
  font-weight: 500;
}
.item5 {
  flex: 2;
  flex-shrink: 0.5;
  font-weight: 500;
}
.item6 {
  flex: 1;
  flex-shrink: 0.5;
  font-weight: 500;
}
.item7 {
  flex: 1;
  flex-shrink: 0.5;
  font-weight: 500;
}

.center {
  text-align: center;
}

h1 {
  font-weight: 500;
}

input {
  width: 800px;
  height: 50px;
  font-size: 28px;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  outline: none;
}
.add {
  padding: 25px 385px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: purple;
  font-weight: 700;
}
.add:hover {
  background-color: gray;
  color: #fffdd0;
}
.update {
  padding: 25px 373px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  background-color: purple;
}
.update:hover {
  background-color: gray;
  color: #fffdd0;
}
.home {
  padding: 25px 380px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-weight: 700;
  background-color: purple;
}
.home:hover {
  background-color: gray;
  color: #fffdd0;
}

.gradient {
  background-color: #fffdd0;
  margin-top: 10px;
  border-radius: 5px;
  cursor: move;
  font-size: 25px;
  color: purple;
}
.gradient:hover {
  border: #111 2px dashed;
}
@media screen and (max-width: 500px) {
  .listContainer {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 20px;
  }
  .List {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 20px;
  }
  .display-flex {
    display: flex;
    justify-content: space-around;
    width: 390px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
  }
  .bg {
    background-color: #111;
    color: white;
    padding: 15px 0;
    border-radius: 3px;
    font-weight: 300;
  }
  .btncontainer {
    display: flex;
    justify-content: space-around;
  }
  .btns {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 3px 3px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .todoContainer {
    width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
  }
  input {
    width: 380px;
    height: 50px;
    font-size: 22px;
  }
  .add {
    padding: 20px 178px;
    cursor: pointer;
  }
  .update {
    padding: 20px 167px;
    cursor: pointer;
  }
  .home {
    padding: 20px 172px;
    cursor: pointer;
  }
  .center {
    text-align: center;
  }
}
